<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.beetroute.apps.traffic"
      android:versionCode="3"
      android:versionName="0.2.1">
    
    <uses-sdk android:minSdkVersion="7" />
	<uses-library android:name="com.google.android.maps" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    

    <application android:icon="@drawable/logo" 
                 android:label="@string/app_name"
                 android:theme="@style/Theme.GDCatalog"
                 android:name=".TrafficApplication">
                 
		<uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.EnterAddressActivity"
                  android:label="@string/app_name">
            
        </activity>
        
        <service android:name="in.beetroute.apps.traffic.location.LocationService"
            	 android:enabled="true"> 
        </service>
        
        <receiver android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
</application>
</manifest>